.app-head{
    text-decoration: underline;
}
.denominations{
    border: 1px solid black;
    min-width: 2em;
    
}
.notesCount{
    border: 1px solid black;
    min-width: 2em;
}
.result-table{
    border: 1px solid black;
    min-width: 2em;
    border-spacing: 0em;
}
.main{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.table-header{
    background-color: #8ca9c2;
}
